In [3]:
import pandas as pd
data_frame = pd.read_csv("elon_musk_tweets.csv")
data_frame.shape

(5904, 16)

In [4]:
data_frame.describe()

,id,user_followers,user_friends,user_favourites,retweets,favorites
count,5.904000e+03,5.904000e+03,5904.000000,5904.000000,5904.000000,5.904000e+03
mean,1.618062e+18,1.265069e+08,192.918699,18717.950373,5504.126524,6.385289e+04
std,3.259834e+16,1.186204e+07,67.569833,3673.085377,14457.004070,1.326794e+05
min,1.544317e+18,1.012408e+08,115.000000,13503.000000,0.000000,5.200000e+01
25%,1.594339e+18,1.193263e+08,131.000000,15388.000000,350.750000,5.946500e+03
50%,1.619904e+18,1.283752e+08,178.000000,17883.000000,1092.000000,1.821300e+04
75%,1.646781e+18,1.362687e+08,240.000000,21798.000000,4213.250000,5.921225e+04
max,1.668435e+18,1.433260e+08,330.000000,25655.000000,359672.000000,2.500167e+06

In [6]:
data_frame.values

array([[1544379368478212100, 'Elon Musk', nan, ..., 335, 6542, False],
       [1544377493263720450, 'Elon Musk', nan, ..., 1451, 30753, False],
       [1544377130590552064, 'Elon Musk', nan, ..., 1284, 28610, False],
       ...,
       [1665137204782419968, 'Elon Musk', nan, ..., 46, 879, False],
       [1665131126900285445, 'Elon Musk', nan, ..., 898, 12467, False],
       [1665121551652474880, 'Elon Musk', nan, ..., 1997, 38113, False]],
      dtype=object)

SyntaxError: invalid syntax (3827820173.py, line 1)